<h1>Welcome, to Garrison!</h1>

<table *ngIf="!selected">
  <thead>
    <tr>
      <th>Vet ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>EAOS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let veteran of veterans">
      <td (click)="displayVeterans(veteran)">{{ veteran.firstName }}</td>
      <td (click)="displayVeterans(veteran)">{{ veteran.lastName }}</td>
      <td (click)="displayVeterans(veteran)">{{ veteran.eaos }}</td>
      <td (click)="displayVeterans(veteran)">{{ veteran.dutyStation }}</td>
      <td><input type="checkbox" [(ngModel)]="veteran.assignRecruiter" /></td>
      <td>{{ veteran.assignRecruiter }}</td>
      <td><button (click)="deleteVeteran(veteran.vetId)">X</button></td>
    </tr>
  </tbody>
</table>

<!-- <form *ngIf="!selected">
  <input
  type="text"
  name="firstName"
  placeholder="First Name"
  [(ngModel)]="newVeteran.firstName"
/><br />
<input
  type="text"
  name="lastName"
  placeholder="Last Name"
  [(ngModel)]="newVeteran.lastName"
/><br />
<input
  type="text"
  name="email"
  placeholder="Email"
  [(ngModel)]="newVeteran.email"
/><br />
<input
  type="text"
  name="phoneNumber"
  placeholder="Phone Number"
  [(ngModel)]="newVeteran.phoneNumber"
/><br />
<input
  type="text"
  name="careerInterest"
  placeholder="Career Interest"
  [(ngModel)]="newVeteran.careerInterest"
/><br />
<input
  type="text"
  name="dodSkillBridge"
  placeholder="Skill Bridge"
  [(ngModel)]="newVeteran.dodSkillBridge"
/><br />
<input
  type="text"
  name="eaos"
  placeholder="EAOS"
  [(ngModel)]="newVeteran.eaos"
/><br />
<input
  type="text"
  name="assignRecruiter"
  placeholder="Recruiter"
  [(ngModel)]="newVeteran.assignRecruiter"
/><br />
<input
  type="text"
  name="dutyStation"
  placeholder="Duty Station"
  [(ngModel)]="newVeteran.dutyStation"

/> -->
<!-- <button (click)="newVeteran()">Add Veteran</button>
</form>
<div *ngIf="selected && !editVeteran"> -->

<p>{{ selected.vetId }}</p>
<p>{{ selected.firstName }}</p>
<p>{{ selected.lastName }}</p>
<p>{{ selected.email }}</p>
<p>{{ selected.phoneNumber }}</p>
<p>{{ selected.careerInterest }}</p>
<p>{{ selected.dodSkillBridge }}</p>
<p>{{ selected.eaos }}</p>
<p>{{ selected.assignRecruiter }}</p>
<p>{{ selected.dutyStation }}</p>
<button (click)="displayTable()">Back</button>
<button (click)="setEditVeteran()">Edit</button>
<!-- </div> -->

<form *ngIf="editVeteran">
  <input type="text" name="firstName" [(ngModel)]="editVeteran.firstName" />
  <input type="text" name="lastName" [(ngModel)]="editVeteran.lastName" />
  <input type="text" name="email" [(ngModel)]="editVeteran.email" />
  <input type="text" name="phoneNumber" [(ngModel)]="editVeteran.phoneNumber" />
  <input
    type="text"
    name="careerInterest"
    [(ngModel)]="editVeteran.careerInterest"
  />
  <input
    type="text"
    name="dodSkillBridge"
    [(ngModel)]="editVeteran.dodSkillBridge"
  />
  <input type="text" name="eaos" [(ngModel)]="editVeteran.eaos" />
  <input
    type="text"
    name="assignRecruiter"
    [(ngModel)]="editVeteran.assignRecruiter"
  />
  <input type="text" name="dutyStation" [(ngModel)]="editVeteran.dutyStation" />
  <button (click)="updateVeteran(editVeteran)">Save</button>
  <button (click)="editVeteran = null">Cancel</button>
</form>

<!-- <div *ngIf="!selected">
  <table>
    <thead>
      <tr>
        <td>Id</td>
        <td>First Name</td>
        <td>Last Name</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let veteran of veterans" (click)="selected = veteran">
        <td>{{ veteran.vetId }}</td>
        <td>{{ veteran.firstName }}</td>
        <td>{{ veteran.lastName }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <form>
    <input
      type="text"
      name="firstName"
      placeholder="First Name"
      [(ngModel)]="newVeteran.firstName"
    /><br />
    <input
      type="text"
      name="lastName"
      placeholder="Last Name"
      [(ngModel)]="newVeteran.lastName"
    /><br />
    <input
      type="text"
      name="email"
      placeholder="Email"
      [(ngModel)]="newVeteran.email"
    /><br />
    <input
      type="text"
      name="phoneNumber"
      placeholder="Phone Number"
      [(ngModel)]="newVeteran.phoneNumber"
    /><br />
    <input
      type="text"
      name="careerInterest"
      placeholder="Career Interest"
      [(ngModel)]="newVeteran.careerInterest"
    /><br />
    <input
      type="text"
      name="dodSkillBridge"
      placeholder="Skill Bridge"
      [(ngModel)]="newVeteran.dodSkillBridge"
    /><br />
    <input
      type="text"
      name="eaos"
      placeholder="EAOS"
      [(ngModel)]="newVeteran.eaos"
    /><br />
    <input
      type="text"
      name="assignRecruiter"
      placeholder="Recruiter"
      [(ngModel)]="newVeteran.assignRecruiter"
    /><br />
    <input
      type="text"
      name="dutyStation"
      placeholder="Duty Station"
      [(ngModel)]="newVeteran.dutyStation"
    /><br />
    <input (click)="onSubmit()" type="submit" value="Add Veteran" />
  </form>
</div> -->
