@import "~bootstrap/dist/css/bootstrap.css";
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">


input {
  width: 13%;
  padding: 10px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid blanchedalmond;
  border-radius: 2px;
}
input:focus {
  background-color: lightblue;
}

select {
  width: 13%;
  padding: 8px 10px;
  border: cadetblue;
  border-radius: 4px;
  background-color: #f1f1f1;
}

input[type="submit"] {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #3996ad;
  color: white;
}

td {
  border: 1px solid black;
}
div.gallery {
  /* margin: 20px; */
  border: 1px solid #ccc;
  float: center;
  width: 200px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 300%;
  height: auto;
  float: center;
}

div.desc {
  /* padding: 10px; */
  text-align: center;
}

.h1 {
  font-family: "Trirong", serif;
}

.h2 {
  font-family: "Trirong", serif;
}

.h3 {
  font-family: "Trirong", serif;
}
.p1 {
  font-family: "Trirong", serif;
}

.p2 {
  font-family: "Trirong", serif;
}

.p3 {
  font-family: "Trirong", serif;
}
